SECTION {
  background-color: #2F4F4F;
  padding: 1px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: verdana;
}


HH1 { color:#666666;  font-family:lato;}

.container-grid {
  display: grid;
  grid-template-columns: 800px 400px; /*columns widths*/
  height: 40vh;
}

.col-1 {
  background-color: white;
}

.col-2 {
  background-color: white;
}

  .bottom-three {
     margin-bottom: 2.5cm;
  }

  .bottom-one {
     margin-bottom: 1cm;
  }

.bottom-maspelin {
     margin-bottom: -0.5cm;
  }


